<p>list works!</p>

<div class="container ">
    <div class="card float-start m-3" style="width: 18rem;" *ngFor="let ship of ships">
        <div class="card-body">
          <h5 class="card-title">{{ship.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ship.length}} m</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="card-link text-reset text-decoration-none disabled fst-italic">{{ship.price}} HUF</a>
          <a href="#" class="card-link">Buy now</a>
        </div>
      </div>
</div>
